{% block content %}
    {% set url = path(location) %}
    {% set name = ez_content_name(content) %}

    <section class="container item place">
        <div class="col-md-9 item-info">
            <div class="item-name">
                <h2>
                    <a href="{{ url }}" title="{{ name }}">
                        {{ ez_render_field(content, 'name') }}
                    </a>
                </h2>
            </div>
            <div class="hidden-md visible-sm visible-xs item-image-sm">
                {% if not ez_is_field_empty(content, 'image') %}
                    <a href="{{ url }}" title="{{ name }}">
                        {{ ez_render_field(content, 'image', {
                            'parameters': {
                                'alias': 'search_result_item_large'
                            }
                        }) }}
                    </a>
                {% endif %}
            </div>
            <div class="item-intro">
                {{ ez_render_field(content, 'intro') }}
            </div>
        </div>
        <div class="col-md-3 hidden-sm visible-md visible-lg item-image">
            {% if not ez_is_field_empty(content, 'image') %}
                <a href="{{ url }}" title="{{ name }}">
                    {{ ez_render_field(content, 'image', {
                        'parameters': {
                            'alias': 'search_result_item'
                        }
                    }) }}
               </a>
            {% endif %}
        </div>
    </section>
{% endblock %}
