<div class="col-xs-6 col-md-3">
    <a href="{{ path('ez_urlalias', {'contentId': content.id}) }}" title="{{ ez_content_name(content) }}">
        <div class="card thumbnail">
            {% if not ez_is_field_empty(content, 'image') %}
                {% set imageAlias = ez_image_alias(content.getField('image'), content.versionInfo, 'card') %}
                <div class="card-image-placeholder" style="background-image: url('{{ imageAlias.uri }}');">
                </div>
            {% else %}
                <div class="card-image-placeholder">
                    <h1>{{ ez_content_name(content)|first }}</h1>
                </div>
            {% endif %}
            <div class="caption">
                <h3>{{ ez_content_name(content) }}</h3>
            </div>
        </div>
    </a>
</div>
