{% extends ':blocks:_block.html.twig' %}

{% block block_identifier %}contentlist{% endblock %}
{% block block_class %}block-contentlist--tastes-list {{ block_class }}{% endblock %}

{% block block_content %}
    <div class="block-contentlist__header">
        <div class="block-contentlist__icon-wrapper">
            <svg class="ez-icon block-contentlist__icon">
                <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#places"></use>
            </svg>
        </div>
        <h3 class="block-contentlist__title">{{ ez_content_name(app_content_info_by_content_id(contentId)) }}</h3>
        <a class="block-contentlist__link block-contentlist__link--more" href="{{ path('ez_urlalias', {contentId: contentId}) }}">
            {{ 'More'|trans }}
        </a>
    </div>
    {% if contentArray|length > 0 %}
        <div class="row block-contentlist__cards">
            {% for item in contentArray %}
                <div class="col-md-6 pb-3">
                    {{ render_esi(controller('ez_content:viewAction', {
                        locationId: item.location.id,
                        contentId: item.content.id,
                        viewType: 'block_contentlist'
                    })) }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
